# Common build settings
build --symlink_prefix=.build/bazel-
# build -s  # show build commands
build --features=oso_prefix=.build
build --spawn_strategy=local

# Debug configuration
build:debug --compilation_mode=dbg
build:debug --strip=never

# Release configuration
build:release --compilation_mode=opt
